@keyframes gradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 0%; }
	100% { background-position: 0% 50%; }
}

body {
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	background: linear-gradient(-45deg, rgba(42, 42, 42, 0.1), rgba(42, 42, 42, 0.4), rgba(42, 42, 42, 0.2), rgba(42, 42, 42, 0.1));
	background-size: 200% 200%;
	animation: gradient 10s ease-out infinite;
	font-family: 'Nova Monospace', monospace;
	text-align: center;
}

#content {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-flow: column;
  gap: 1.5rem;
  margin: 1rem auto;
  padding-bottom: 1rem;
  max-width: 800px;
  background-image: url("https://i.pinimg.com/originals/70/72/c0/7072c003a01ab656c982542e9c38c475.jpg");
  background-size: cover;
  background-position: center;
}